services:
  db:
    image: postgres
    container_name: postgres-container
    restart: always
    environment:
      - POSTGRES_PASSWORD=admin
      - CLOUDINARY_CLOUD_NAME=dylbcxjez
      - CLOUDINARY_API_KEY=631673698979948
      - CLOUDINARY_API_SECRET=PNrcVEYlYUYXQSStjzDeT76O2kE
    volumes:
      - ./docker/postgres:/var/lib/postgresql/18/docker
    ports:
      - '6543:5432'
  